@import "reset.less";

.nav {
	width: 900px;
	height: 300px;
	background-color: #ccc;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #000;
}

.side {
	width: 200px;
	height: 600px;
	background-color: #ccc;
	padding: 10px;
	border: 1px solid #000;
}

svg {
	background-color: #fff;
}

.sl {
	position: relative;
}